<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/DECARTON</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Configuración de Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Actualiza el esquema automáticamente -->
        <property name="hibernate.show_sql">true</property> <!-- Muestra las consultas SQL -->

        <!-- Mapeo de entidades -->
        <mapping class="org.example.entity.User"/>
        <mapping class="org.example.entity.Product"/>
        <mapping class="org.example.entity.Cart"/>
    </session-factory>
</hibernate-configuration>